<nav class="navbar navbar-light bg-light fixed-top">
  <p>Search items by zipcode</p>
  <form class="d-flex" method="GET" action="/item/view-all">
    <input class="form-control me-2" type="text" name="zipcode" placeholder="Zipcode" aria-label="Search" onwheel="this.blur()">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<div class="logo"><h1>FreebieMe</h1>
</div>

