<nav class="navbar navbar-light bg-light">
  <form class="d-flex" method="GET" action="/item">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onwheel="this.blur()">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  </nav>
<h1>FreebieMe</h1>
