
<div class="row">
  <div class="offset-sm-3 col-sm-6">
  <h1>FreebieMe</h1>
  <form method="POST" action="/user">
    <div class="mb-3">
      <label class="form-label">Username:</label>
      <input class="form-control" type="text" name="username"/>
    </div>
    <div class="mb-4">
      <label class="form-label">Zipcode:</label>
      <input class="form-control" type="number" name="zipcode"/>
    </div>
    <input class="btn" type="submit" />
  </form>
  </div>
</div>


