
<div class="container text-center">
  <h1>FreebieMe</h1>

  <form method="POST" action="/user">
    <label>Username:</label>
    <input type="text" name="username"/><br>
    <label>Zipcode:</label>
    <input type="number" name="zipcode"/><br>
    <input type="submit" />
  </form>

</div>
