
<div class="container text-center">
  <h1>FreebieMe</h1>

  <form method="POST" action="/banana">
    <label>Username:</label>
    <input type="text" name="username"/>
    <input type="submit" />
  </form>


  <form enctype="multipart/form-data" action="/" method="POST">
    <input type="file" name="itemImg">
    <input type="submit" class="btn btn-primary">
  </form>
</div>