
  <div class="row">
    <div class="login offset-sm-3 col-sm-6">
    <h1>FreebieMe</h1>
    <div class="copy">
      <p class="pb-5">Post your <span class="strike">junk</span> stuff here to unload to your neigbors. Fancy stuff, old stuff - put it to good use and save others some money at the same&nbsp;time.</p>
    </div>
    <p>Sign up here:</p>
    <form id="sign-up" method="POST" action="/user">
      <div class="mb-3">
        <label class="form-label">Username:</label>
        <input class="form-control" type="text" name="username"/>
      </div>
      <div class="mb-4">
        <label class="form-label">Zipcode:</label>
        <input class="form-control" type="number" name="zipcode"/>
      </div>
      <input class="btn" type="submit" />
    </form>
    </div>
  </div>


