<div class="container">

  <h3>Select Category of item</h3>

  <form method="POST" action="/user">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    <label>Name of item:</label>
    <input type="text" name="username"/>
    <input type="submit" class="btn btn-primary"/>
  </form>



</div>





<%- imgSrc %> 