body {
  background: rgb(3,16,39);
  text-align:center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/* prevent input scroll arrows */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.container {
  padding-top: 25px;
}
.navbar {
  justify-content: flex-end;
  padding: 15px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: rgb(72,166,127);
  margin: 2rem 0;
}
h2 {
  font-family: 'Lobster', cursive;
  color: rgb(72,166,127);
  margin-bottom: 2rem;
}

p, label { 
  color: #ffffff;
}
.card-body p {
  color: #000;
}
.btn {
  background:rgb(72,166,127);
  color: #fff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }