html {
  height:100%;
}

body {
  height:100%;
  background: rgb(3,16,39);
  text-align:center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

section {
  height: 100%
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* prevent input scroll arrows */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.container {
  padding-top: 25px;
}
.navbar {
  justify-content: flex-end;
  padding: 15px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: rgb(72,166,127);
}

.login h1 {
  padding: 3rem 0;
}

.logo h1 {
  padding-top: 90px;
  padding-bottom: 35px;
}

h2 {
  font-family: 'Lobster', cursive;
  color: rgb(72,166,127);
  margin-bottom: 2rem;
}
h6 {
  margin-bottom: 1rem;
}

p, label { 
  color: #ffffff;
}
.navbar p {
  color:rgb(72,166,127);
  font-family: 'Lobster', cursive;
  font-size: 18px;
  margin-bottom: 0;
  margin-right: 5px;

}
.strike {
  text-decoration: line-through;
  text-decoration-color: #000;
}

form#sign-up {
  width: 50%;
  margin: 0 auto;
}
.main {
  padding-top: 60px;
}
.card-body p {
  color: #000;
}
.btn {
  background:rgb(72,166,127);
  color: #fff;
}
.posted-item .col:last-child {
  padding-bottom: 2rem;
}
footer{
  padding: 15px;

}
footer p {
  font-size: 10px;
  float: right;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


@media (max-width: 768px) {
  .copy {
    padding-left: 25px;
    padding-right: 25px;
  }  
  .item-post {
    width: 90%;
    margin: 0 auto;
  }
  .navbar {
    justify-content: center;
  }
  .navbar p {
    margin-bottom: .5rem;
  }
  .logo h1 {
    padding-top:120px;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    
  }

