body {
  background: #000;
  background: rgb(3,16,39);
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}

/* prevent input scroll arrows */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: rgb(72,166,127)
}
h3 {
  color: #ffffff;
}
p, label { 
  color: #ffffff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }